OPENROUTER_API_KEY=sk-or-v1-...
OPENAI_API_KEY=sk-proj-...
BASETEN_API_KEY=...
POLAR_ACCESS_TOKEN=polar_oat_...
AI_GATEWAY_API_KEY=vck_...
ALIBABA_API_KEY=sk-...
AWS_BEARER_TOKEN_BEDROCK=...
ANTHROPIC_AWS_API_KEY=sk-...
ANTHROPIC_AWS_WORKSPACE_ID=wrkspc_...
AWS_REGION=us-west-2
AZURE_API_KEY=...
AZURE_RESOURCE_NAME=...
CEREBRAS_API_KEY=csk-...
COHERE_API_KEY=...
DEEPINFRA_API_KEY=...
FIREWORKS_API_KEY=fw_...
GOOGLE_VERTEX_PROJECT=...
GOOGLE_VERTEX_LOCATION=us-central1
GOOGLE_APPLICATION_CREDENTIALS=...
HUGGINGFACE_API_KEY=hf_...
MISTRAL_API_KEY=...
MOONSHOT_API_KEY=sk-...
PERPLEXITY_API_KEY=pplx-...
TOGETHER_API_KEY=...
ZAI_API_KEY=...
GMI_CLOUD_APIKEY=...
